main {max-width:720px;padding:25px;margin: auto;}
p a{text-decoration: none;}
.navbar-brand, .navbar-nav {margin: auto;}

.logomarca {
  padding-bottom: 100px;

}


section {
  display: flex;
}

.input-info {
  width: 48%;
  margin: auto;
  padding: 10px;
}


#obs-cliente {
  height: 80px;
}

.select-cert {
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 20px;
}

